.dish-btn-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc( var(--card-width)  - 10px);
    margin: auto 6px 0 0;
}

.dish-btn-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex: 1;
    height: var(--button-size);

    border: 1px solid #5553;
    border-radius: 8px;
    /* box-shadow: 0px 0px 1px 1px #22222222; */
    background-color: var(--color-background-hard);
    
    color: var(--color-hard);
    font-size: var(--fontsize-large);
    font-family: var(--font-header);
}

.dish-refresh-btn {
    margin: 20px 5px;
}

.dish-btn-wrap button svg {
    width: 34px;
    height: 34px;

    color: var(--color-hard);
}
