.dishes-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    min-width: 100%;
}

.dish-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(var(--card-width) - 10px);
    min-height: var(--card-height);

    margin: 8px 10px 8px 0;

    border-top: 1px solid #0001;
    border-left: 1px solid #0001;
    background: var(--color-background-accent);

    border-radius: var(--card-border-radius);
    box-shadow: 4px 4px 4px var(--color-shadow-accent);
}

.dish-category {
    position: absolute;
    display: flex;
    justify-content: center;
    
    right: -58px;
    top: calc(50% - 10px);
    transform: rotateZ(90deg);

    width: 100px;
    height: 20px;
    
    color: var(--color-soft);;
    font-style: italic;
    font-size: var(--fontsize-smaller);
    font-family: var(--font-content);
}