.dish-btn-wrap {
    position: absolute;

    right: 6px;
    bottom: 6px;

    width: 28px;
    height: 28px;
}

.dish-btn-wrap div {
    position: relative;

    width: 28px;
    height: 28px;
}

.dish-btn-wrap svg {
    position: absolute;

    bottom: 0;
    right: 0;

    width: 20px;
    height: 20px;
    padding: 3px;

    color: var(--color-soft);
    border-radius: 6px;
    border: 1px solid #0002;
    background: var(--color-accent);

    transition: .25s all;
}


.dish-btn-wrap svg.chevron-active {
    transform: rotateZ(180deg);
}

.dish-btn-wrap svg.fav-active{
    bottom: 60px;
}

.dish-btn-wrap svg.block-active{
    bottom: 30px;
}

.dish-btn-wrap svg.refresh-active{
    right: 30px;
}