.dish-info {
    position: relative;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: var(--card-height);
}
 

.card-image {
    /* width: var(--card-content-height); */
    height: var(--card-height);

    border-radius: var(--dish-image-border-radius);
}

.dish-stats {
    display: flex;
    flex-direction: column;

    height: var(--card-height);
    margin-left: 10px;
}

.dish-name { 
    margin: 6px 40px 2px 0;
    
    color: var(--color-hard);
    font-size: var(--fontsize-medium);
    font-family: var(--font-accent);
    line-height: 16px;
}

.dish-kbju, .dish-time {
    display: flex;
    align-items: center;
    
    color: var(--color-soft);
    font-size: var(--fontsize-smaller);
    font-family: var(--font-header);
}
.dish-kbju {
    margin-top: 4px;
}

.dish-icon {
    display: flex;

    width: 16px;
    height: 16px;
    margin-right: 6px;
}