.dish-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(90% - 10px);
    min-height: 100px;

    margin: 8px 0;

    background: #fff6e9;
    /* background-color: #fbdbb0; */
    /* background: linear-gradient(248deg, #ff9696cc 15%, #ffe7a3 100%); */

    border-radius: 25px 4px 4px 6px;
    /* box-shadow: 2px 2px 9px 0px #ffbc97; */
    box-shadow: 4px 4px 4px #ead1c3d4;
    /* box-shadow: 0px 0px 7px 0px #0000004a; */
}
.dish-view {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100px;
}

.dish-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    overflow: hidden;

    max-height: 400px;
    transition: all .5s ease-out;
}
.dish-description-hidden {
    max-height: 0px;
    transition: all .3s ease-out;
}

.dish-card-delimiter {
    width: 90%;
    height: 0.05rem;
    align-self: center;
    margin: 4px 0;
}

.dish-card-image {

    width: 72px;
    height: 72px;

    margin-left: 14px;

    border-radius: 15px 5px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dish-info {
    display: flex;
    flex-direction: column;

    height: 80px;
    margin-left: 10px;
}

.dish-name { 
    margin: 0 6px 2px 0;
    color: #222;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dish-kbju, .dish-stats {
    color: #2229;
    margin: 2px 0;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dish-type {
    position: absolute;
    display: flex;
    justify-content: center;
    
    width: 100px;
    height: 20px;
    
    right: -58px;
    top: calc(50% - 10px);
    transform: rotateZ(90deg);
    
    color: #2229;
    font-style: italic;
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}