.dish-description {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-height: 400px; /* for smooth animation */
    
    transition: all .4s ease-out;
    overflow: hidden;
}
.dish-description-hidden {
    max-height: 0px; /* for smooth animation */
    transition: all .25s ease-out;
}


.card-list-wrap {
    flex: 1;
    margin: 0px 14px 10px 14px;
    height: auto;
}
.card-list-wrap:last-child {
    margin-bottom: 20px;
}


.card-list-name {
    color: var(--color-hard);
    /* font-weight: 900; */
    font-size: var(--fontsize-medium);
    font-family: var(--font-content);
}

.card-list-wrap ul {
    margin-left: 34px;
}
.card-list-wrap li {
    margin-top: 4px;
    letter-spacing: 0.4px;
    color: var(--color-soft);
    font-size: var(--fontsize-small);
    font-family: var(--font-accent);
}
