* {
    padding: 0;
    margin: 0;
}

html, body, #root {
    display: flex;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}



@font-face {
    font-family: 'Garamond';
    src: url('Garamond.ttf'); }
    