* {
    padding: 0;
    margin: 0;
}

html, body, #root {
    display: flex;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    overflow: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}


::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



article {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    
    background-color: var(--color-background-soft); 
    overflow: auto;
    
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
}

article.settings-view {
    overflow: hidden;
}

.view-name {
    color: var(--color-hard);
    margin: var(--header-margin);
    font-size: var(--fontsize-larger);
    font-family: var(--font-header);
}