* {
    padding: 0;
    margin: 0;
}

html, body, #root {
    display: flex;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    overflow: hidden;
}



@font-face {
    font-family: 'Garamond';
    src: url('../source/fonts/Garamond.ttf'); }
@font-face {
    font-family: 'CormorantInfant';
    src: url('../source/fonts/CormorantInfant.ttf'); }
    