@font-face {
   font-family: 'Aetherius';
   src: url('../source/fonts/Aetherius.ttf'); }
@font-face {
   font-family: 'Montserrat';
   src: url('../source/fonts/Montserrat.ttf'); }
@font-face {
   font-family: 'Barkentina';
   src: url('../source/fonts/Barkentina.otf'); }
@font-face {
   font-family: 'Carolus';
   src: url('../source/fonts/Carolus.ttf'); }
@font-face {
   font-family: 'Certege';
   src: url('../source/fonts/Certege.ttf'); }
@font-face {
   font-family: 'Comfortaa';
   src: url('../source/fonts/Comfortaa.ttf'); }
@font-face {
   font-family: 'Constantine';
   src: url('../source/fonts/Constantine.ttf'); }
@font-face {
   font-family: 'Cormorant';
   src: url('../source/fonts/Cormorant.otf'); }
@font-face {
   font-family: 'CormorantGaramond';
   src: url('../source/fonts/CormorantGaramond.otf'); }
@font-face {
   font-family: 'CormorantInfant';
   src: url('../source/fonts/CormorantInfant.otf'); }
@font-face {
   font-family: 'CormorantSC';
   src: url('../source/fonts/CormorantSC.otf'); }
@font-face {
   font-family: 'CormorantUnicase';
   src: url('../source/fonts/CormorantUnicase.otf'); }
@font-face {
   font-family: 'CormorantUpright';
   src: url('../source/fonts/CormorantUpright.otf'); }
@font-face {
   font-family: 'FlowExt';
   src: url('../source/fonts/FlowExt.ttf'); }
@font-face {
   font-family: 'Forum';
   src: url('../source/fonts/Forum.otf'); }
@font-face {
   font-family: 'Ghothic';
   src: url('../source/fonts/Ghothic.ttf'); }
@font-face {
   font-family: 'Glametrix';
   src: url('../source/fonts/Glametrix.ttf'); }
@font-face {
   font-family: 'GunnyRewritten';
   src: url('../source/fonts/GunnyRewritten.ttf'); }
@font-face {
   font-family: 'KaushanScript';
   src: url('../source/fonts/KaushanScript.ttf'); }
@font-face {
   font-family: 'Kurier';
   src: url('../source/fonts/Kurier.otf'); }
@font-face {
   font-family: 'Lato';
   src: url('../source/fonts/Lato.ttf'); }
@font-face {
   font-family: 'LinLibertine';
   src: url('../source/fonts/LinLibertine.ttf'); }
@font-face {
   font-family: 'Merienda';
   src: url('../source/fonts/Merienda.ttf'); }
@font-face {
   font-family: 'NelaSlab';
   src: url('../source/fonts/NelaSlab.ttf'); }
@font-face {
   font-family: 'Neris';
   src: url('../source/fonts/Neris.ttf'); }
@font-face {
   font-family: 'Philosopher';
   src: url('../source/fonts/Philosopher.ttf'); }
@font-face {
   font-family: 'PoiretOne';
   src: url('../source/fonts/PoiretOne.ttf'); }
@font-face {
   font-family: 'Poppins';
   src: url('../source/fonts/Poppins.ttf'); }
@font-face {
   font-family: 'Rivers';
   src: url('../source/fonts/Rivers.ttf'); }
@font-face {
   font-family: 'Zella';
   src: url('../source/fonts/Zella.ttf'); }
@font-face {
   font-family: 'Yandex';
   src: url('../source/fonts/Yandex.ttf'); }
@font-face {
   font-family: 'Consolas';
   src: url('../source/fonts/consolas.ttf'); }


@font-face {
   font-family: 'Garamond';
   src: url('../source/fonts/Garamond.ttf'); }
@font-face {
   font-family: 'Pacifico';
   src: url('../source/fonts/Pacifico.ttf'); }