.footer-btns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    flex: 1;
    width: calc( var(--card-width)  - 6px);
    margin: 20px 10px 20px 0;
}

.footer-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex: 1;
    height: var(--button-size);

    border: 1px solid #5553;
    border-radius: 8px;
    /* box-shadow: 0px 0px 1px 1px #22222222; */
    background-color: var(--color-background-hard);
    
    color: var(--color-hard);
    font-size: var(--fontsize-large);
    font-family: var(--font-header);
}

.footer-btns button.disabled {
    opacity: .35;
}

.footer-btns button:nth-child(2) {
    margin: 0 5px;
}

.footer-btns button svg {
    width: 34px;
    height: 34px;

    color: var(--color-hard);
}

