.dish-menu-wrap {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
}


.dish-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    min-width: 100%; 

    background-color: #fafafa; 

    overflow: scroll;
    height: max-content;
}

.dish-menu-name {
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-family: Garamond;
}



