.settings-list {
    display: flex;
    flex-direction: column;

    width: var(--settings-width);
    list-style: none;
}

.settings-list > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    min-height: 40px;

    color: var(--color-hard);
    /* font-weight: 900; */
    font-size: var(--fontsize-large);
    font-family: var(--font-header);
    transition: .2s opacity;
}

.settings-list-disabled {
    opacity: 0.3;
}

.settings-list > li > span {
    display: flex;
    flex-direction: row;
}

.settings-list-icon {
    display: block;
    
    width: 28px;
    height: 28px;
    
    color: var(--color-hard);
}

.settings-add-icon {
    width: 40px;
    height: 40px;

    color: var(--color-hard);
}