.settings-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    min-width: 100%;
    height: 100%;

    background-color: var(--color-background-soft);
}

.settings-name {
    color: var(--color-hard);
    margin: var(--header-margin);
    font-size: var(--fontsize-larger);
    font-family: var(--font-header);
}