.settings-btn-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: var(--settings-width);

    margin: auto 0 20px 0;
}

.settings-btn-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex: 1;
    height: var(--button-size);

    border: 1px solid #5553;
    border-radius: 8px;
    /* box-shadow: 0px 0px 1px 1px #22222222; */
    background-color: var(--color-background-hard);
    
    color: var(--color-hard);
    font-size: var(--fontsize-large);
    font-family: var(--font-header);
}

.settings-add-btn {
    margin: 0 5px;
}

.settings-btn-wrap button svg {
    width: 34px;
    height: 34px;

    color: var(--color-hard);
}