.settings-schema {
    width: var(--settings-width);
}

.settings-schema ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.settings-schema li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    min-height: 40px;

    color: var(--color-hard);
    /* font-weight: 900; */
    font-size: var(--fontsize-large);
    font-family: var(--font-content);
    transition: .2s opacity;
}

.settings-schema li.disabled {
    opacity: 0.3;
}

.settings-schema span {
    display: flex;
    margin-top: 8px;
}

.settings-schema svg {    
    width: 28px;
    height: 28px;
    
    color: var(--color-hard);
}