.settings-line-wrap {
    position: relative;
    width: 80%;
    margin: 40px 0;
}

.settings-line {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 100%;
    margin: 4px 0;

    font-size: 16px;
    color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.settings-download-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('../../source/icons/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.settings-moon-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('../../source/icons/moon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.settings-sun-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('../../source/icons/sun.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}